In [97]:
import requests
import pandas as pd

# 1.인터넷에서 데이터 가져오기

In [98]:
# Genie top200
url = 'https://www.genie.co.kr/chart/top200'
req = requests.get(url)
html = req.text
#html

In [99]:
# Chrome User-Agent
header = {'User-Agent':"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.122 Safari/537.36"}
req = requests.get(url, headers = header)
html = req.text
#html

In [100]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(html, 'html.parser')

# 찾으려고 하는 데이터의 노드 찾기

In [101]:
trs = soup.find_all('tr')
len(trs)

51

In [102]:
tbody = soup.select_one('table.list-wrap').find('tbody')
trs = tbody.select('tr')
len(trs)

50

In [103]:
tbody = soup.select_one('#body-content > div.newest-list > div > table > tbody')
trs = tbody.select('tr')
len(trs)

50

### 3. 여러개의 데이터 중 하나를 선택해서 원하는 정보를 추출
-rnak, title,artist,album

In [104]:
tr = trs[0]

In [105]:
# rank
tr.select_one('.number').get_text()

'1\n                                        \n                                    \n유지\n\n'

In [106]:
rank = tr.select_one('.number').get_text().split('\n')[0]
rank

'1'

In [107]:
# title
title = tr.select_one('.title.ellipsis').get_text().strip()
title

'리무진 (Feat. MINO) (Prod. by GRAY)'

In [108]:
# artist
artist = tr.select_one('.artist.ellipsis').get_text()
artist

"BE'O (비오)"

In [109]:
# album
album = tr.select_one('.albumtitle.ellipsis').get_text()
album

'쇼미더머니 10 Episode 3'

### 4. 한 페이지에 있는 모든 데이터를 반복문으로 가져와 데이터프레임 만들기

In [110]:
rank_list, title_list, artist_list, album_list = [],[],[],[]
for tr in trs:
    rank = tr.select_one('.number').get_text().split('\n')[0]
    title = tr.select_one('.title.ellipsis').get_text().strip()
    artist = tr.select_one('.artist.ellipsis').get_text()
    album = tr.select_one('.albumtitle.ellipsis').get_text()
    rank_list.append(rank)
    title_list.append(title)
    artist_list .append(artist)
    album_list.append(album)

In [111]:
df = pd.DataFrame({
    '순위' : rank_list, '제목' : title_list, '가수' : artist_list , '앨범' : album_list
})
df.head()

,순위,제목,가수,앨범
0,1,리무진 (Feat. MINO) (Prod. by GRAY),BE'O (비오),쇼미더머니 10 Episode 3
1,2,회전목마 (Feat. Zion.T & 원슈타인) (Prod. by Slom),sokodomo,쇼미더머니 10 Episode 2
2,3,만남은 쉽고 이별은 어려워 (Feat. Leellamarz) (Prod. by TOIL),베이식,쇼미더머니 10 Episode 3
3,4,사랑은 늘 도망가,임영웅,신사와 아가씨 OST Part.2
4,5,불협화음 (Feat. AKMU) (Prod. by GRAY),Mudd the student,쇼미더머니 10 Semi Final

In [112]:
lines = []
for tr in trs:
    rank = tr.select_one('.number').get_text().split('\n')[0]
    title = tr.select_one('.title.ellipsis').get_text().strip()
    artist = tr.select_one('.artist.ellipsis').get_text()
    album = tr.select_one('.albumtitle.ellipsis').get_text()
    lines.append([rank, title, artist, album])
df = pd.DataFrame(lines, columns=['순위', '제목', '가수', '앨범'])
df.head()

,순위,제목,가수,앨범
0,1,리무진 (Feat. MINO) (Prod. by GRAY),BE'O (비오),쇼미더머니 10 Episode 3
1,2,회전목마 (Feat. Zion.T & 원슈타인) (Prod. by Slom),sokodomo,쇼미더머니 10 Episode 2
2,3,만남은 쉽고 이별은 어려워 (Feat. Leellamarz) (Prod. by TOIL),베이식,쇼미더머니 10 Episode 3
3,4,사랑은 늘 도망가,임영웅,신사와 아가씨 OST Part.2
4,5,불협화음 (Feat. AKMU) (Prod. by GRAY),Mudd the student,쇼미더머니 10 Semi Final

In [113]:
lines = []
for tr in trs:
    rank = tr.select_one('.number').get_text().split('\n')[0]
    title = tr.select_one('.title.ellipsis').get_text().strip()
    artist = tr.select_one('.artist.ellipsis').get_text()
    album = tr.select_one('.albumtitle.ellipsis').get_text()
    d = {'순위':rank, '제목' : title, '가수' : artist, '앨범' : album}
    lines.append(d)
df = pd.DataFrame(lines)
df.head()

,순위,제목,가수,앨범
0,1,리무진 (Feat. MINO) (Prod. by GRAY),BE'O (비오),쇼미더머니 10 Episode 3
1,2,회전목마 (Feat. Zion.T & 원슈타인) (Prod. by Slom),sokodomo,쇼미더머니 10 Episode 2
2,3,만남은 쉽고 이별은 어려워 (Feat. Leellamarz) (Prod. by TOIL),베이식,쇼미더머니 10 Episode 3
3,4,사랑은 늘 도망가,임영웅,신사와 아가씨 OST Part.2
4,5,불협화음 (Feat. AKMU) (Prod. by GRAY),Mudd the student,쇼미더머니 10 Semi Final

### 5. 모든 페이지의 데이터 가져오기

In [116]:
lines = []
for page in range(1,5):
    url = f'https://genie.co.kr/chart/top200?ditc=D&ymd=20211206&hh=11&rtm=Y&pg={page}'
    req = requests.get(url, headers = header)
    html = req.text
    tbody = soup.select_one('table.list-wrap').find('tbody')
    soup = BeautifulSoup(html, 'html.parser')
    trs = tbody.select('tr')

    for tr in trs:
        rank = tr.select_one('.number').get_text().split('\n')[0]
        title = tr.select_one('.title.ellipsis').get_text().strip()
        artist = tr.select_one('.artist.ellipsis').get_text()
        album = tr.select_one('.albumtitle.ellipsis').get_text()
        lines.append([rank, title, artist, album])
df = pd.DataFrame(lines, columns=['순위', '제목', '가수', '앨범'])
df.tail()

,순위,제목,가수,앨범
195,146,이끼 (Feat. MINO & BOBBY) (Prod. by MINO),Mudd the student,쇼미더머니 10 Episode 3
196,147,ASAP,STAYC (스테이씨),STAYDOM
197,148,무정부르스,김호중,내일은 미스터트롯 데스매치 PART2
198,149,보릿고개,김호중,〈불후의 명곡 - 전설을 노래하다〉 - 강진&진성 편
199,150,Leave The Door Open,Bruno Mars & Anderson .Paak & Silk Sonic,An Evening With Silk Sonic

In [117]:
df.to_csv('지니챠트_top200', index = False)